@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'SF Pro Display', sans-serif;
}

.none {
    display: none !important;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--white, #FFF);
    justify-content: center;
    .header_con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1050px;
        width: 100%;
        padding: 16.5px 0;
        .left {
            display: flex;
            align-items: center;
            gap: 54px;
            .logo {
                display: flex;
                align-items: center;
                padding: 10px 8px;
                gap: 10px;
                p {
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
            .check_courses {
                display: flex;
                align-items: center;
                padding: 10px 8px;
                gap: 10px;
                color: var(--black, #212121);
                font-family: SF Pro Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            .profile_block {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: var(--black, #212121);
                font-family: SF Pro Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    background: var(--black, #212121);
    .footer_con {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1340px;
        padding: 34px 10px;
        .logo_con {
            max-width: 293px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            .logo {
                display: flex;
                align-items: center;
                padding: 10px 8px;
                gap: 10px;
                p {
                    color: var(--white, var(--white, #FFF));
                    font-family: SF Pro Display;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
            .text_under_logo {
                color: var(--white, var(--white, #FFF));
                font-family: SF Pro Display;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                /* 20px */
            }
        }
        .info_con {
            display: flex;
            gap: 34px;
            .list {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                flex-direction: column;
                .title {
                    color: var(--white, var(--white, #FFF));
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                }
                a {
                    color: var(--white, var(--white, #FFF));
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 20px */
                }
            }
        }
    }
}

.login_sec {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: var(--gray-500, #E5E5EA);
    justify-content: center;
    overflow: hidden;
    .logo_con {
        position: absolute;
        left: 49px;
        top: 35px;
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6px;
            p {
                color: var(--black, #212121);
                font-family: SF Pro Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
    .login_block {
        padding: 42px 32px;
        gap: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background: #FFF;
        flex-direction: column;
        .title {
            color: var(--black, #212121);
            font-family: SF Pro Display;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .inputs_sec {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 14px;
            .input_block {
                position: relative;
                width: 450px;
                .focused {
                    display: none;
                }
                input {
                    width: 100%;
                    height: 54px;
                    border: none;
                    border-radius: 8px;
                    padding: 0px 12px;
                    background: #ECF1F7;
                    outline: none;
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    &:focus {
                        border: 1.2px solid var(--gray-100, #8E8E93);
                        background: none;
                    }
                    &:focus+label {
                        top: 3px;
                        left: 12px;
                        color: var(--gray-100, #8E8E93);
                        font-family: SF Pro Display;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                label {
                    position: absolute;
                    top: 17.5px;
                    left: 12px;
                    color: var(--gray-100, #8E8E93);
                    font-family: SF Pro Display;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    transition: top 0.3s, left 0.3s, font-size 0.3s;
                }
            }
            .error_sms {
                color: rgba(255, 0, 0, 0.50);
                font-family: SF Pro Display;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .btn_go {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: var(--yellow, #FFDD2D);
            height: 46px;
            color: #2C2C2C;
            font-family: SF Pro Display;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            cursor: pointer;
            transition: background .3s ease-in;
            &:hover {
                border-radius: 8px;
                background: var(--yellow-hover, #FCC521);
            }
        }
        .relink {
            color: var(--gray-100, #8E8E93);
            font-family: SF Pro Display;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .absolute_book {
        right: 0;
        position: absolute;
    }
}

.main_page {
    background: #F6F7F8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .main_page_con {
        max-width: 1088px;
        width: 100%;
        padding: 64px 0;
        gap: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .main_text_block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
            .main_title {
                color: #000;
                font-family: SF Pro Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .main_text {
                color: #000;
                font-family: SF Pro Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .why_block {
            display: flex;
            gap: 16px;
            align-items: center;
            padding: 24px 20px;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid var(--stroke, rgba(139, 139, 139, 0.05));
            background: var(--white, #FFF);
            .left {
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
                .title {
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                    width: 210px;
                }
                .text {
                    color: var(--gray-100, #8E8E93);
                    font-family: SF Pro Display;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
                .btn_courses {
                    padding: 10px 12px;
                    border-radius: 12px;
                    background: #ECF1F7;
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .bests_sec {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 34px;
            justify-content: center;
            align-items: center;
            .block {
                border-radius: 15px;
                background: var(--white, #FFF);
                padding: 24px 20px;
                max-width: 336px;
                width: 100%;
                gap: 16px;
                height: 312px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .title {
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                }
                .text {
                    color: var(--gray-100, #8E8E93);
                    font-family: SF Pro Display;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
        }
    }
}