@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'SF Pro Display', sans-serif;
    color: var(--black, #212121);
}

html {
    background-color: #f8f8f8;
}

.error {
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 10px;
    background: #fff;
    color: red;
    z-index: 99999999999;
    box-shadow: 0 0 20px #00000070;
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 250px;
}

.none {
    display: none !important;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--white, #FFF);
    justify-content: center;
    .header_con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1050px;
        width: 100%;
        padding: 16.5px 0;
        .left {
            display: flex;
            align-items: center;
            gap: 54px;
            .logo {
                display: flex;
                align-items: center;
                padding: 10px 8px;
                gap: 10px;
                p {
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
            .check_courses {
                display: flex;
                align-items: center;
                padding: 10px 8px;
                gap: 10px;
                color: var(--black, #212121);
                font-family: SF Pro Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            .profile_block {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: var(--black, #212121);
                font-family: SF Pro Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                img {
                    width: 32px;
                }
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    background: var(--black, #212121);
    .footer_con {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1340px;
        padding: 34px 10px;
        .logo_con {
            max-width: 293px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            .logo {
                display: flex;
                align-items: center;
                padding: 10px 8px;
                gap: 10px;
                p {
                    color: var(--white, var(--white, #FFF));
                    font-family: SF Pro Display;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
            .text_under_logo {
                color: var(--white, var(--white, #FFF));
                font-family: SF Pro Display;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                /* 20px */
            }
        }
        .info_con {
            display: flex;
            gap: 34px;
            .list {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                flex-direction: column;
                .title {
                    color: var(--white, var(--white, #FFF));
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                }
                a {
                    color: var(--white, var(--white, #FFF));
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 20px */
                }
            }
        }
    }
}

.input_block {
    position: relative;
    width: 450px;
    .focused {
        display: none;
    }
    input {
        width: 100%;
        height: 54px;
        border: none;
        border-radius: 8px;
        padding: 0px 12px;
        background: #ECF1F7;
        outline: none;
        color: var(--black, #212121);
        font-family: SF Pro Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        &:focus {
            border: 1.2px solid var(--gray-100, #8E8E93);
            background: none;
        }
        &:focus+label {
            top: 3px;
            left: 12px;
            color: var(--gray-100, #8E8E93);
            font-family: SF Pro Display;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    label {
        position: absolute;
        top: 17.5px;
        left: 12px;
        color: var(--gray-100, #8E8E93);
        font-family: SF Pro Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: top 0.3s, left 0.3s, font-size 0.3s;
    }
}

.login_sec {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: var(--gray-500, #E5E5EA);
    justify-content: center;
    overflow: hidden;
    .logo_con {
        position: absolute;
        left: 49px;
        top: 35px;
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6px;
            p {
                color: var(--black, #212121);
                font-family: SF Pro Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
    .login_block {
        padding: 42px 32px;
        gap: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background: #FFF;
        flex-direction: column;
        .title {
            color: var(--black, #212121);
            font-family: SF Pro Display;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .inputs_sec {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 14px;
            .error_sms {
                color: rgba(255, 0, 0, 0.50);
                font-family: SF Pro Display;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .btn_go {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: var(--yellow, #FFDD2D);
            height: 46px;
            color: #2C2C2C;
            font-family: SF Pro Display;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            cursor: pointer;
            transition: background .3s ease-in;
            &:hover {
                border-radius: 8px;
                background: var(--yellow-hover, #FCC521);
            }
        }
        .relink {
            color: var(--gray-100, #8E8E93);
            font-family: SF Pro Display;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .absolute_book {
        right: 0;
        position: absolute;
    }
}

.main_page {
    background: #F6F7F8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .main_page_con {
        max-width: 1088px;
        width: 100%;
        padding: 64px 0;
        gap: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .main_text_block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
            .main_title {
                color: #000;
                font-family: SF Pro Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .main_text {
                color: #000;
                font-family: SF Pro Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .why_block {
            display: flex;
            gap: 16px;
            align-items: center;
            padding: 24px 20px;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid var(--stroke, rgba(139, 139, 139, 0.05));
            background: var(--white, #FFF);
            .left {
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
                .title {
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                    width: 210px;
                }
                .text {
                    color: var(--gray-100, #8E8E93);
                    font-family: SF Pro Display;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
                .btn_courses {
                    padding: 10px 12px;
                    border-radius: 12px;
                    background: #ECF1F7;
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .bests_sec {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 34px;
            justify-content: center;
            align-items: center;
            .block {
                border-radius: 15px;
                background: var(--white, #FFF);
                padding: 24px 20px;
                max-width: 336px;
                width: 100%;
                gap: 16px;
                height: 312px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .title {
                    color: var(--black, #212121);
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                }
                .text {
                    color: var(--gray-100, #8E8E93);
                    font-family: SF Pro Display;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
        }
    }
}

.main_course {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 10px 64px;
    gap: 34px;
    background-color: #F6F7F8;
    h1 {
        font-size: 40px;
        align-self: center;
        color: var(--black, #212121);
    }
    .line_title {
        font-size: 20px;
        color: var(--black, #212121);
        border-radius: 15px;
        border: 1px solid var(--stroke, rgba(139, 139, 139, 0.05));
        background: var(--white, #FFF);
        padding: 24px 20px;
    }
    .main-title {
        justify-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        p {
            color: #B3B3B3;
        }
        .p-web {
            color: #666666;
        }
    }
    .less {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 34px;
        p {
            color: #8E8E93;
        }
    }
    .less-block1 {
        border-radius: 15px;
        border: 1px solid var(--stroke, rgba(139, 139, 139, 0.05));
        background: var(--white, #FFF);
        padding: 24px 20px;
        h3 {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
    .less-block2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 34px;
        .send-less {
            display: flex;
            gap: 34px;
            flex-direction: column;
            .send-less_title {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                color: #000;
                font-family: SF Pro Display;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .send-less_con {
                border-radius: 15px;
                border: 1px solid var(--stroke, rgba(139, 139, 139, 0.05));
                background: var(--white, #FFF);
                padding: 24px 20px;
                display: flex;
                gap: 16px;
                flex-direction: column;
            }
            h3 {
                margin-bottom: 34px;
            }
            .nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-right: auto;
                align-items: flex-start;
                width: 100%;
                .export_btn {
                    border-radius: 12px;
                    padding: 10px 12px;
                    background: #ECF1F7;
                }
            }
            textarea {
                color: #8E8E93;
                padding: 10px 12px;
                border: none;
                border-radius: 8px;
                background: #ECF1F7;
                width: 556px;
                outline: none;
            }
            .send-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 26px 0;
                width: 100%;
                border-radius: 8px;
                border: 2px solid #212121;
                border-style: dashed;
                a {
                    text-decoration: none;
                    color: #212121;
                }
            }
        }
        .btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .send-cancel {
                display: flex;
                gap: 16px;
            }
            a {
                text-decoration: none;
                color: #212121;
                .a-del {
                    color: #F92020;
                }
            }
            .btn-send {
                background-color: #FFDD2D;
                border: none;
                border-radius: 12px;
                padding: 10px 12px 10px;
                text-decoration: none;
            }
            .btn-cancel {
                background: #ECF1F7;
                border: none;
                border-radius: 12px;
                padding: 10px 12px;
            }
            .btn-del {
                background-color: rgba(249, 32, 32, 0.3);
                border: none;
                border-radius: 12px;
                padding: 7px 8px 7px;
                display: flex;
                align-items: center;
                color: #F92020;
                a {
                    color: #F92020;
                }
            }
        }
    }
}

.main_lk {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 10px;
    flex-direction: column;
    gap: 34px;
    background-color: #F6F7F8;
    .lich_cab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: row;
        gap: 34px;
        .title {
            display: flex;
            flex-direction: column;
        }
        .lk {
            width: 100%;
            max-width: 440px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            h3 {
                color: #8E8E93;
            }
            .profile {
                background-color: #FFFFFF;
                border-radius: 15px;
                padding: 24px 24px 24px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                .proflie_photo {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 14px;
                }
            }
        }
        .subc {
            margin-top: 34px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 24px 24px 24px;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 15px;
            .design-graf {
                margin-top: 24px;
                width: 390px;
                height: 195px;
                display: flex;
                flex-direction: row;
                background-color: #FFDD2D;
                padding: 24px 24px 24px;
                border-radius: 15px;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                &:nth-child(3) {
                    background: var(--gray-600, #F8F8F8);
                }
            }
            .dhead {
                display: flex;
                flex-direction: column;
                gap: 45px;
                h3 {
                    color: #212121;
                }
            }
            .marketing {
                margin-top: 3%;
                width: 390px;
                height: 195px;
                display: flex;
                flex-direction: row;
                background-color: #F8F8F8;
                padding: 24px 24px 24px;
                border-radius: 15px;
                justify-content: space-between;
                align-items: center;
                .dhead2 {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    h3 {
                        color: #212121;
                    }
                }
            }
            .business {
                margin-top: 3%;
                display: flex;
                flex-direction: row;
                background-color: #A3A3FF;
                padding: 24px 24px 24px;
                border-radius: 15px;
                justify-content: space-between;
                align-items: center;
                .dhead3 {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    h3 {
                        color: #212121;
                    }
                }
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 24px 24px 24px;
            background-color: #FFFFFF;
            border-radius: 15px;
        }
        input {
            background-color: #ECF1F7;
            border-radius: 8px;
            border: none;
            width: 450px;
            height: 50px;
            padding: 10px 20px 10px;
        }
        .info-con {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .save {
            background-color: #212121;
            border-radius: 12px;
            padding: 10px 20px 10px;
            margin-top: 5%;
            border: none;
            a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
        .dell-acc {
            background-color: #FFFFFF;
            flex-direction: row;
            padding: 20px 24px 20px;
            border-radius: 15px;
            margin-top: 34px;
            display: flex;
            flex-direction: row;
            justify-self: flex-end;
            align-items: flex-start;
            h3 {
                color: #F92020;
            }
            p {
                color: #8E8E93;
                font-size: 14px;
                margin-top: 16px;
                max-width: 384px;
            }
            .dell-btn {
                border-radius: 12px;
                padding: 12px 10px;
                border: none;
                background-color: rgba(249, 32, 32, 0.3);
                a {
                    color: #F92020;
                }
            }
            .text {
                gap: 7px;
            }
        }
        .id {
            background-color: #ffffff;
            height: 100px;
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 15px;
            p {
                color: var(--gray-100, #8E8E93);
            }
        }
    }
}

.main_courses {}

.main_courses {}